@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.wrapper {
    /* min-height: 100%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

:root {
    --text-color: #1A1A1A;
    --background-color: #fff;
    --btn-color: #090D1F;
    --inner-color: #fff;
}

.dark {
    --text-color: #fff;
    --background-color: #090D1F;
    --btn-color: #fff;
    --inner-color: #090D1F;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: var(--background-color);
    transition: all .3s ease-in-out;
}

body, html {
    height: 100%;
}

.btn-reset {
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    padding: 18px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header__nav--list {
    display: flex;
    gap: 14px;
}

.header__logo span {
    color: var(--text-color);
    font-weight: 600;
    font-size: 20;
}

.header__link {
    color: var(--text-color);
    font-weight: 400;
    font-size: 20;
    text-decoration: none;
}

.header__link.active {
    text-decoration: underline;
}

.footer {
    padding: 30px 0;
}

.footer__list {
    display: flex;
    gap: 14px;
    font-size: 20;
    color: var(--text-color);
}

.footer__link {
    font-size: 20;
    color: var(--text-color);
}

.posts {
    padding: 30px 0;
}

.posts__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}

.posts__title {
    margin: 0;
    font-size: 24px;
    color: var(--text-color);
}

.post__image {
    width: 592px;
}

.post-article {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    color: var(--text-color);
}

.post__date {
    color: #6941C6;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.post__title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 600;
}

.post__body {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.post__link {
    display: flex;
    gap: 12px;
    align-items: baseline;
    color: var(--text-color);
}

.post__link svg path {
    stroke: currentColor;
}

.post__more {
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
}

.posts__chapter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.pagination__btn {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color);
}

.pagination__btn.active {
    background-color: #F9F5FF;
    color: #7F56D9;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #555966;
}

.pagination__empty, .pagination__arrow {
    width: 90px;
}

.pagination__list {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination__arrow {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    cursor: pointer;
}

.posts__not-found {
    width: 100%;
    text-align: center;
    color: var(--text-color);
    font-size: 32px;
    font-weight: 500;
}

.about__container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.about__container div {
    font-size: 32px;
    color: var(--text-color);
    font-weight: 500;
}

.post-page {
    padding: 60px 0;
}

.post-page__container {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-page__title,
.post-page__load {
    margin: 0;
    margin-bottom: 40px;
    margin-top: 15px;
    font-size: 30px;
}

.post-page__body {
    font-size: 18px;
    margin: 0;
    margin-bottom: 30px;
}

.post-page__comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
    border-top: 2px solid #A8A8A8;
}

.post-page__chapter {
    color: var(--text-color);
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: left;
}

.comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: var(--text-color);
}

.comment__author {
    font-weight: 300;
    text-decoration: underline;
    font-size: 16px;
}

.comment__body {
    font-weight: 500;
    font-size: 20px;
}